@import 'tailwindcss';

:root{
    --warm-orange: hsl(36, 80%, 57%);
    --warm-yellow: hsl(47, 88%, 68%);
    --light-orange: hsl(36, 62%, 90%);
    --warm-green: hsl(134, 67%, 52%);
    --light-green: hsl(133, 67%, 78%);
    --warm-red: hsl(2, 68%, 58%);
    --light-red: hsl(2, 69%, 90%);
    --light-grey: hsl(215, 27%, 91%);
}

body{
    flex-grow: 1;
}

button, label{
    cursor: pointer;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

form > label, span {
    color: #00000033;
}